﻿.movie-container {
    width: 725px;
    background: #eeeeee;
    -webkit-box-shadow: 4px 4px 5px 0px #eeeeee;
    -moz-box-shadow: 4px 4px 5px 0px #eeeeee;
    box-shadow: 4px 4px 5px 0px #eeeeee;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 20px 0 0 0;
}

.poster {
    width: 85px;
    padding: 10px 15px;
    float: left;
}

.main-info {
    width: 625px;
    padding: 0 15px;
    float: left;
}

    .main-info h4 {
        font-weight: bold;
    }

    .main-info a {
        cursor: pointer;
        margin-right: 10px;
        text-decoration: underline;
    }

#reviews {
    display: inline-block;
}

    #reviews h4 {
        padding: 0 15px;
    }

.reviews {
    width: 425px;
    padding: 0 15px;
    float: left;
}

    .reviews > div cite {
        font-style: italic;
        font-weight: bold;
        display: block;
        margin:10px 0 30px 0;
    }

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.spinner {
    display: none;
}
